body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hiden{
    display: none;
}

.game-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
}

#board .cell:hover{
    background-color: #e0e0e0;
}

.bodyPar{
    background-color:rgba(0, 255, 255, 0.336);
}

.BodyImpar{
    background-color: rgba(255, 0, 0, 0.137);
}


#board .par{
    background-color:aqua;
}

#board .impar{
    background-color: rgba(255, 0, 0, 0.322);
}
